<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
	<Properties>
		<Property name="LOG_PATTERN">
			%d{yyyy-MM-dd HH:mm:ss.SSS}|%5p|%15.15t|%-40.40c{1}| %m%n
		</Property>
	</Properties>
	<Appenders>
		<Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="${LOG_PATTERN}" />
		</Console>
		<File name="TrafficLightFileAppender" fileName="logs/trafficLights.log">
			<PatternLayout pattern="${LOG_PATTERN}" />
		</File>
		<File name="SemaphoreVisitorFileAppender" fileName="logs/semaphoreVisitor.log">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS}| %m%n"/>
		</File>
	</Appenders>
	<Loggers>
		<Logger name="com.iwona.trafficlights.app.scheduler.SemaphoreVisitor" level="info" additivity="false">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="SemaphoreVisitorFileAppender" />
		</Logger>
		
		<Logger name="com.iwona.trafficlights" level="info" additivity="false">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="TrafficLightFileAppender" />
		</Logger>

		<Root level="info">
			<AppenderRef ref="ConsoleAppender" />
		</Root>
	</Loggers>
</Configuration>